DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hukupuku?schema=public"
BETTER_AUTH_SECRET="replace-with-a-random-secret-at-least-32-characters-long"
BETTER_AUTH_URL="http://localhost:3000"
