# dependencies
node_modules/

# Next.js and builds
.next/
out/
dist/

# tests
coverage/
playwright-report/
test-results/
blob-report/

# environment variables
.env
.env.*
!.env.example

# logs
*.log

# editors and operating systems
.idea/
.vscode/
.DS_Store
Thumbs.db

# deployment
.vercel/

# generated clients
src/generated/prisma/

# generated Next.js declarations
next-env.d.ts
*.tsbuildinfo

/src/generated/prisma
